.mail{
    width: 100%;
    margin-top: 50px;
    background-color:#ffff;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 50px;
  }
  
  .mailInputContainer>input{
    width: 100%;
    height: 30px;
    padding: 10px;
    border: none;
    margin-right: 10px;
    border-radius: 5px;
  }
  
  .mailInputContainer>button{
    height: 50px;
   width: 60%;
    background-color: #0071c2;
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    text-align: center;
    position: relative;
    left: 25%;
    cursor: pointer;
  }
  @media screen and (max-width:900px){
    .mail{
      display: flex;
      margin-left: 0rem;
    }
  }